@import "tailwindcss";
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent black bar */
  background-color: #f9fafb; /* Optional: light gray background */
}

.leaflet-container {
  border-radius: 10px;
  z-index: 1;
}